<div class="d-flex">
  
  
  <!--**************************** BARRA LATERAL **************************** -->
  <!-- <div class="bg-dark border-right p-3" id="barraLateral" >
    
    <h3 class="text-light" >
      GifsApp
    </h3> 
    <hr class="text-light" >

    <div class="list-group list-reset">
      <a href="#"
        class="list-group-item list-group-item-action ">
        Dashboard
      </a>
    </div>


  </div> -->
<app-slidebar></app-slidebar>
  <!--**************************** BARRA LATERAL **************************** -->
  <app-gifs-page  class="container"  >
   

  </app-gifs-page>

</div>
